<script src="/__/firebase/7.2.3/firebase-app.js">
</script>


<script src="/__/firebase/7.2.3/firebase-analytics.js"></script>


<script src="/__/firebase/init.js"></script>
<ion-header>
    <ion-toolbar color="primary">
        <div class="regreso">
            <ion-button color="light" routerLink="/tabs/tab2">
                <ion-icon name="arrow-round-back"></ion-icon>
            </ion-button>
        </div>
        <ion-title class="mapa">
            <H1>MAPA</H1>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]='16'>
        <!-- <agm-map (mapClick)="agregarMarcador($event)" [latitude]="lat" [longitude]="lng" [zoom]='16'> -->
        <!-- <agm-marker *ngFor="let marcador of marcadores" [latitude]="marcador.lat" [longitude]="marcador.lng" iconUrl="assets/carreras.png" width="50%"> -->
        <agm-marker [latitude]="lat" [longitude]="lng" iconUrl="../../assets/icon/carreras.png" width="50%">
            <!-- <agm-info-window>
                <strong>{{marcador.title}}</strong>
                <p>{{marcador.description}}</p>
            </agm-info-window> -->
        </agm-marker>
        <!-- <agm-polyline *ngIf="polyline" strokeColor="red">
            <agm-polyline-point [latitude]="latA" [longitude]="lngA">
            </agm-polyline-point>
            <agm-polyline-point [latitude]="latB" [longitude]="lngB">
            </agm-polyline-point>
        </agm-polyline> -->
    </agm-map>
</ion-content>