.centro1{
    padding: auto;
    text-align: center;
}




.perfil{
    padding: auto;
    margin-left: 3mm;
    margin-right: 3mm;
    max-height: 50vh;
}

.boton1{
    padding: auto;
    margin-left: 5mm;
    margin-right: 5mm;

}

.boton2{

    padding: auto;
    margin-left: 5mm;
    margin-right: 5mm;
}