<ion-header>
  <ion-toolbar color="secondary">
    <ion-title class="centro1" text alig="center" size="small">
     <h1> BIENVENIDO</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>
<br>
<br>
<ion-content>
<br>


<ion-card class="perfil" >
    <img src="/assets/img/halcon.png" alt="" />
    <ion-card-header>
      <!--<ion-card-subtitle>Get Started</ion-card-subtitle>-->
      <!--<ion-card-title>Welcome to Ionic</ion-card-title>-->
  </ion-card-header>
  <!--<ion-card-content>
  <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
</ion-card-content>-->

  </ion-card>
<br>
<br>

<ion-content padding>
<ion-button class="boton1" color="secondary" expand="block" routerLink="/tabs/tab3" >USUARIO</ion-button>
<br>
<ion-button class="boton2" color="tertiary" expand="block" routerLink="/tabs/tab1">ADMINISTRADOR</ion-button>
</ion-content>

</ion-content>
