.centro1{
    padding: auto;
    text-align: center;
}

.perfil{
    padding: auto;
    margin-left: 26mm;
    margin-right: 26mm;
    max-height: 20vh;
}

.perfil2{
    padding: auto;
    margin-left: 80px;
    margin-right: 80px;
    max-height: 50vh;
}

.boton1{
    padding: auto;
    margin-left: 5mm;
    margin-right: 5mm;

}

.boton2{

    padding: auto;
    margin-left: 5mm;
    margin-right: 5mm;
}