<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="centro1" text alig="center" size="small">
     <h1> BIENVENIDO</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<br>
<br>

<ion-card class="perfil" >
    <img src="/assets/img/perfil-3.png" alt="" />


</ion-card>

<ion-card class="perfil2">
    <img src="/assets/img/perfil-4.png" alt="" />

</ion-card>
<br>
<ion-button class="boton1" color="primary" expand="block">USUARIO</ion-button>
<br>
<ion-button class="boton2" color="tertiary" expand="block" routerLink="/tabs/tab1">ADMINISTRADOR</ion-button>


</ion-content>
