<ion-header>
    <ion-toolbar color="primary">
        <ion-title class="open"><h1>Registro</h1></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <br>
    <!--de aqui comienza la programcion-->
    <ion-card class="regi">
        <img src="/assets/img/registro.png" alt="" />
        <ion-card-header>
            <!--<ion-card-subtitle>Get Started</ion-card-subtitle>-->
            <!--<ion-card-title>Welcome to Ionic</ion-card-title>-->
        </ion-card-header>
        <!--<ion-card-content>
        <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
      </ion-card-content>-->
    </ion-card>

    <ion-content padding>
        <ion-item>
            <br>
            <ion-label position="floating"> USER</ion-label>
            <ion-input type="text" [(ngModel)]="USER" name="USER"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating"> PASSWORD</ion-label>
            <ion-input type="password" [(ngModel)]="PASSWORD" name="PASSWORD"></ion-input>
        </ion-item>
        <br>
        <br>
        <ion-button color="primary" expand="block" (click)="OnSubmitRegister()">Registrar Usuario</ion-button>
        <br>
        <div class="cen">
            <ion-button color="medium" fill="outline" routerLink="/tabs/tab1">
                VOLVER
            </ion-button>
        </div>
    </ion-content>
</ion-content>