<script src="/__/firebase/7.2.3/firebase-app.js"></script>


<script src="/__/firebase/7.2.3/firebase-analytics.js"></script>


<script src="/__/firebase/init.js"></script>

<ion-header>

    <ion-toolbar color="primary">

        <ion-title class="centro" text alig="center" size="small">
            <h1>Monitoreo <br>De<br> Dispsositivos</h1>
        </ion-title>
    </ion-toolbar>

</ion-header>

<ion-content padding>
    <ion-item>
        <br>
        <br>
        <br>

        <ion-label position="floating"> TIPO DE DISPOSITIVO</ion-label>
        <ion-input type="text" name="PLACA"></ion-input>
    </ion-item>
    <ion-item>
        <br>
        <br>
        <ion-label position="floating"> IMEI</ion-label>
        <ion-input type="text" [(ngModel)]="IMEI" name="IMEI"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating"> CIUDAD</ion-label>
        <ion-input type="text" [(ngModel)]="CIUDAD" name="CIUDAD"></ion-input>
    </ion-item>
    <br>
    <br>
    <br>
    <ion-button (click)="OnSubmittab1()" color="secondary" expand="block">Ingresar a Mapa</ion-button>
   
    <ion-button color="tertiary"  routerLink="/croud">
        TRACKER
    </ion-button>
    
    <div class="salir">
       
        <ion-button color="medium" fill="outline" routerLink="/tabs/tab3">
            Salir
        </ion-button>
    </div>

</ion-content>