<ion-header>

    <ion-toolbar color="primary">

        <ion-title text alig="center" size="small">Monitoreo <br>De<br> Dispsositivos</ion-title>
    </ion-toolbar>

</ion-header>

<ion-content padding>
    <ion-item>
        <br>
        <br>
        <br>

        <ion-label position="floating"> TIPO DE DISPOSITIVO</ion-label>
        <ion-input type="text" name="PLACA"></ion-input>
    </ion-item>
    <ion-item>
        <br>
        <br>
        <ion-label position="floating"> IMEI</ion-label>
        <ion-input type="text" name="IMEI"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating"> CIUDAD</ion-label>
        <ion-input type="text" name="CIUDAD"></ion-input>
    </ion-item>
    <br>
    <br>
    <br>
    <ion-button color="secondary" expand="block">Ingresar a Mapa</ion-button>
    <div class="salir">
        <ion-button color="medium" fill="outline" routerLink="/tabs/tab1">
            Salir
        </ion-button>
    </div>

</ion-content>