.welcome-card  {
    padding: auto;
    margin-left: 50px;
    margin-right: 50px;
    max-height: 35vh;
    
}

.center {
    padding-left: 30%;
    margin: auto;
}

.back {

    padding: auto;
    margin-left: 4mm;
    margin-right: auto;
}