.welcome-card  {
    padding: auto;
    margin-left: 70px;
    margin-right: 70px;
    max-height: 35vh;
    
}

.center {
    padding-left: 30%;
    margin: auto;
}

.back {

    padding: auto;
    margin-left: 4mm;
    margin-right: auto;
}

.adminis{
    text-align: center;
    padding: auto;
    margin-left: auto ;
}

.tres {
    margin-left: 5mm;
    margin-right: 5mm;
}